.Logo{
    display: inline;
    position: absolute;
    font-family: 'Work Sans';
    font-style: normal;
    text-align: center;
    width: 100%;
    font-weight: 900;
    height: 4em;
    font-size: 2em;
    line-height: 2em;
    justify-content: center;
    /* Font black */
    height: inherit;
    color: #303131;
}

@media (max-width:1250px) {
    .Logo{
        display: block;
        position: fixed;
        top: 0;
        background-color:  #FFFFFF;
    }
}