.Contact{
    display: block;
    font-family: 'Work Sans';
    font-style: normal;
    text-align: left;
    line-height: 2em;
    /* Font black */
    height: auto;
    color: #303131;
}

.Contact div{
    display: inline;
    position: relative;
    width: 45%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.Left{
    float: left;
    font-weight: 600;
}

.Left h1{
    font-weight: 600;
    font-size: 2.5em;
}

.Left p{
    font-weight: 300;
    line-height: 1.3em;
    text-align: left;
}

.Right{
    float: right;
}

label{
    padding-left: 1%;
    width: 49%;
}

input[type="submit"]{
    display: block;
    background: #E9E9E9;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    height: 200%;
    line-height: 3em;
    text-align: center;
    transition:none;
    width: 100%;
    margin: 2em 0em;
}

.contact-input, textarea, select{
    padding-left: 1%;
    width: 99%;
    border: none;
    height: 2em;
    font-size: 1em;
    border-bottom: 1px solid #E9E9E9;
    padding-right: 1%;
    margin-bottom: 5%;
    margin-top: 5%;
    box-sizing: unset;
    transition: ease-in-out, border-bottom .35s ease-in-out;
}

select{
    padding: 1px 2px;
}

.Input-Left{
    width: 49%;
    float: left;
}

.Input-Right{
    width: 49%;
    float: right;
}

.Message{
    height: 5em;
    line-height: 1.3em;
    font-size: 1.5em;
}

.Frequency{
    border: 1px solid #E9E9E9;
    margin: 1em 0em;
    height: 2em;
}

option{
    font-size: 1em;
}

.contact-input:focus{
    outline: none;
    border-bottom: 1px solid #303131;
}

.contanct-input:hover{
    border: none;
    border-bottom: 1px solid #303131;
}

.contact-input[type="submit"]:hover{
    border: 1px solid #E9E9E9;
}

.contact-input[type="submit"]:focus{
    outline: none;
}

@media (max-width:1024px) {
    .Contact .Right, .Contact .Left {
        width: 98%;
        float: none;
    }
}

@media (max-width:500px) {
    .Input-Left, .Input-Right, .Contact .Right, .Contact .Left {
        width: 98%;
        float: none;
    }
}